body {
  background-color: LightSalmon;
}

header {
  background-color: SandyBrown;
}

h1 {
  color: darkgreen;
  font-size: 3rem;
}

h2 {
  font-size: 2.2rem;
  color: darkolivegreen;
  // &:hover {
  //   background-color: blue;
  // }
}

p {
  font-size: 1.2rem;
  line-height: 1.3rem;
}

ul {
  li {
    font-size: 1.1rem;
  }
}

i {
  font-size: 2.5rem;
}

// Fuck
// Anything? What now?
// Fuck it!

// Anything?
// Nothing is new :(